.home {
  padding: 0 !important;
  max-width: 100% !important;
  margin-bottom: 0 !important;
}

.home .feature {
  max-width: 30% !important;
}

.loading-dot i {
  background-color: #435d7b !important;
}

.sidebar {
  border-right: 0 !important;
}

#app .search-box input {
  border-left: 0 !important;
}

.navbar .logo {
  margin-right: 0.1rem !important;
  width: auto;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold !important;
}

video {
  max-width: 100%;
}
