# Logs
logs
*.log
npm-debug.log*

packages/docs/docs/.vuepress/dist

packages/demo

# Dependencies
node_modules/
node_modules/*
# Coverage
coverage

# VS Code
.vscode
!.vscode/tasks.js

# JetBrains IDEs
.idea/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Misc
.DS_Store
